.row
  %aside.three.columns
    = render_cell :feeds, :sidebar
  .nine.columns{role:'content'}
    = render 'shared/toolbar'
    - @feed_items.each do |feed_item|
      .feed-item
        %h6.title= link_to feed_item.title, feed_item.url
        %p.summary= feed_item.summary
    = paginate @feed_items