= render 'shared/header'

.row
  .three.columns
    = render_cell :feeds, :sidebar
  .nine.columns{role:'content'}
    - @feeds.each do |feed|
      - feed.feed_items.each do |feed_item|
        .feed-item
          %h2= feed_item.title
          %p= feed_item.summary

= render 'shared/footer'