= render 'shared/header'

.row
  .three.columns
    - @feeds.each do |feed|
      .feed
        %h4= link_to feed.title, feed
  .nine.columns{role:'content'}
    - @feed.feed_items.each do |feed_item|
      .feed-item
        %h2= feed_item.title
        %p= feed_item.summary

= render 'shared/footer'