= form_tag('/feeds', method: 'post') do
  .row.collapse
    .eight.columns.mobile-three
      = text_field_tag 'url'
    .four.columns.mobile-one
      = submit_tag "Subscribe", class: 'subscribe button expand postfix'

.panel.feed
  .title.special= link_to t('all_items'), root_path
  .title.special= link_to t('starred_items'), starred_feeds_path
  - @feeds.each do |feed|
    .row
      .ten.columns.mobile-three
        .title= link_to feed.title, feed
      .two.columns.mobile-one.options
        = link_to "X", feed, method: :delete, class: 'delete'